<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Cindy Wang</h3>
      </div>

      <div class="text-center">@scw0321</div>
      <div class="text-center">
        <a href="gmail.com">scw0321@gmail.com</a>
      </div>
    </div>
  </div>
</div>